<div class="row">
  <div class="col-xs-12">
    <h2>Vos Clients</h2>
    <div class="list-group">
      <button class="list-group-item" *ngFor="let client of clients;let i=index"
              (click)="onViewClient(i)">
        <h3 class="list-group-item-heading">
          {{client.nom}}
          <button class="bnt btn-default pull-right" (click)="onDeleteClient(client)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </h3>
        <p class="list-group-item-text">{{client.prenom}}</p>
      </button>
    </div>
    <button class="bnt btn-primary" (click)="onNewClient()">Nouveau Client</button>
  </div>
</div>
